body {
  text-align: center;
  margin: 0;
  padding: 0;
}

#resources {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  z-index: 1;
}

.resource {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 5px;
}

.resource span {
  margin-left: 5px;
}

.resource .value {
  font-weight: bold;
}

.resource .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: #e5e5e5;
  border-radius: 50%;
}

#spacer {
  height: 100px;
}

#actions {
  margin-top: 60px;
  padding: 65px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.action-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

#version {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: left;
}

#newGameButton {
  position: fixed;
  top: 35px;
  right: 10px;
}
