body {
  text-align: center;
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  margin-top: 60px;
}

#resources {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column; /* Add this line */
  align-items: flex-start; /* Add this line */
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  z-index: 1;
}

.resource {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 5px; /* Add this line */
}

.resource span {
  margin-left: 5px;
}

.resource .value {
  font-weight: bold;
}

.resource .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: #e5e5e5;
  border-radius: 50%;
}

#spacer {
  height: 60px; /* Adjust the height as needed */
}

#actions {
  margin-top: 60px;
  display: flex;
  justify-content: center; /* Add this line */
  flex-wrap: wrap; /* Add this line */
}

.action-button {
  margin-right: 10px;
  margin-bottom: 10px; /* Adjust this value for vertical spacing */
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

#version {
  position: fixed;
  bottom: 10px;
  left: 10px;
  text-align: left;
}

#newGameButton {
  position: fixed;
  top: 10px;
  right: 10px;
}
