@font-face {
  font-family: 'CustomFont';
  src: url('WoodenNickelNF.ttf') format('truetype'),
       url('WoodenNickelNF.otf') format('opentype');
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'CustomFont', Arial, sans-serif;
}

#resources {
  position: absolute;
  top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #808080;
  padding: 20px;
  border-radius: 5px;
  font-family: 'CustomFont', Arial, sans-serif;
  z-index: 1;
}

.resource {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 5px;
}

.resource span {
  margin-left: 5px;
}

.resource .value {
  font-weight: bold;
}

.resource .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: #e5e5e5;
  border-radius: 50%;
}

#food {
  margin-bottom: 10px;
}

#energy {
  margin-bottom: 10px;
}

#timer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: red;
  text-align: center;
}

#spacer {
  height: 100px;
}

#actions {
  margin-top: 60px;
  padding: 65px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.action-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

#result {
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow-wrap: break-word;  
}

#result.show {
  background-color: #808080;
}

#result .rng {
  color: #FFF;
  background-color: #008000;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 18px;
}

#result .excess-rng {
  color: #FFF;
  background-color: #ff0000;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 18px;
}

#result .max-value {
  color: #FFF;
  background-color: #000000;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 18px;
}


#version {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: left;
}

#newGameButton {
  position: fixed;
  top: 35px;
  right: 10px;
}
